.flag {
  min-width: 2rem;
  min-height: 2rem;
  background-size: cover;
}
.flag-us {
  background-image: url("https://flagsapi.com/US/shiny/32.png");
}
.flag-ca {
  background-image: url("https://flagsapi.com/CA/shiny/32.png");
}
.flag-fr {
  background-image: url("https://flagsapi.com/FR/shiny/32.png");
}
