.popup {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 10rem;
  box-shadow: 0px -5px 5px -2px rgb(var(--border));
  border-top: 1px solid rgb(var(--border));
  animation: slide-in-bottom 0.3s ease-out;
  .popup-content {
    height: 100%;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
  }
}
