main {
  position: relative;
  /* max-height: calc(100vh - 3.5rem); */
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  transition: all 0.35s;
  section:not(:last-child) {
    border-right: 1px solid rgb(var(--border));
  }
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - var(--header-height));
  }

  #sidebar {
    max-width: 40%;
  }
  #main {
    flex-grow: 1;
  }
  /* https://www.w3schools.com/howto/howto_css_tooltip.asp */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(var(--border));
    color: rgb(var(--text));
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: -0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0.6rem;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(var(--border)) transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem; /* Rounded corners */
  }
  button[type="submit"] {
    color: rgb(var(--background));
    background-color: rgb(var(--primary));
  }
  button[type="reset"] {
    background-color: rgb(var(--border));
    background-color: rgb(var(--background));
    /* color: rgb(var(--border)); */
    border: 1px solid rgb(var(--border));
  }
}

@keyframes message-scale-out {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* other pages*/
.table {
  display: table;
  width: 100%;
  .theader {
    display: table-header-group;
    .th {
      display: table-cell;
      vertical-align: middle;
      border-right: 1px solid rgb(var(--border));
      border-bottom: 1px solid rgb(var(--border));
      padding: 0.25rem 1rem;
      font-weight: bold;
    }
  }
  .tbody {
    display: table-row-group;
    .tr:hover {
      background-color: rgb(var(--highlight));
    }
  }
  .tr {
    display: table-row;
    .td {
      display: table-cell;
      vertical-align: middle;
      padding: 0 1rem;
      border-right: 1px solid rgb(var(--border));
      .tflex {
        display: flex;
        align-items: center;
        white-space: nowrap;
        gap: 0.5rem;
        > div {
          display: flex;
          align-items: center;
        }
        .avatar {
          border-radius: 50%;
          color: rgb(var(--text-avatar));
          min-width: 1.5rem;
          height: 1.5rem;
          font-size: 0.7rem;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
        }
        .tdropdown {
          display: inline-block;
        }
      }
    }
    .th:first-child,
    .td:first-child {
      padding-left: 0;
    }
    .th:last-child,
    .td:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}
