.container-footer {
    .message-area {
      position: relative;
      width: 100%;
      background-color: rgb(var(--background));
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .message-box {
        #message-text {
          border: 1px solid rgb(var(--border));
          border-radius: 0.5rem;
          height: 5rem;
          width: 100%;
          resize: none;
          vertical-align: top;
          padding: 0.5rem;
        }
        #message-text:focus {
          outline: none;
          background-color: rgb(var(--highlight));
          box-shadow: 0 0 10px rgb(var(--border));
        }
      }
      .message-buttons {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        .message-area-btn:hover:enabled {
          background-color: rgb(var(--highlight));
          box-shadow: 0 0 10px rgb(var(--border));
        }
        .message-area-btn:disabled {
          fill: rgb(var(--border));
          cursor: default;
        }
        .message-area-btn:enabled {
          cursor: pointer;
        }
        .message-area-btn {
          background-color: rgb(var(--background));
          border: 1px solid rgb(var(--border));
          border-radius: 0.5rem;
          height: 2rem;
          min-width: 2rem;
          color: rgb(var(--text));
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.25rem;
        }
        .placeholder {
          flex: 1;
        }
      }
      .message-buttons:has(#emoji-btn:hover) ~ .message-emoji,
      .message-emoji:hover {
        transform: scale(1);
      }
      .message-emoji {
        position: absolute;
        top: -100%;
        left: 0.5rem;
        border-radius: 0.5rem;
        height: 12rem;
        width: 100%;
        max-width: 25rem;
        background-color: rgb(var(--background));
        border: 1px solid rgb(var(--border));
        box-shadow: 0 0 10px rgb(var(--border));
        transform-origin: bottom left;
        transform: scale(0);
        transition-delay: 250ms;
        transition-duration: 0.5s;
        transition-property: height visibility scale;
        .tabs-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          overflow: hidden;
          height: 100%;
          > input[type="radio"] {
            padding: 0.25rem;
            display: none;
            &:checked + .tab-label {
              border-bottom: 2px solid rgb(var(--primary));
            }
          }
          > input[type="radio"]:not(:checked) + .tab-label + .tab-content {
            /* hide inactive tabs */
            display: none;
          }
          .tab-label {
            padding: 0.25rem 1rem;
            height: 2rem;
          }
          .tab-content {
            display: flex;
            flex-wrap: wrap;
            order: 99;
            overflow-y: auto;
            border-top: 1px solid rgb(var(--border));
            width: 100%;
            height: calc(100% - 3rem);
            padding: 0.75rem;
            margin-bottom: 1rem;
            .emoji-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.5rem;
              border-radius: 0.5rem;
              cursor: pointer;
            }
            .emoji-icon:hover {
              background-color: rgb(var(--highlight));
            }
          }
        }
      }
    }
  }
