:root {
  --primary: #0059e1;
  --secondary: lightblue;
  --button: grey;
  --error: #fcc;
  /* --secondary: #ff5252; */
  --background: #eee;
  --white: white;
  --highlight: #eee;
  --border: lightgrey;
  --text: black;
  --text-grey: grey;
  --text-error: #ff5252;
  --message-in: white;
  --message-out: lightblue;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  /* Avatar colors */
  --avatar-1: #8609ff;
  --avatar-2: #9146ff;
  --avatar-3: #328dff;
  --avatar-4: #a372ff;
  --avatar-5: #00a449;
  --avatar-6: #ca0005;
  --avatar-7: #ff5100;
  --avatar-8: #b08c00;
  --avatar-9: #00893c;
  --avatar-0: #06f;
  --avatar-text: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar: START */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 0.25rem;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: var(--border);
}
/* Custom Scrollbar: END */

