:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: white;
  --highlight: #eee;
  --border: lightgrey;
  --text: black;
  --text-avatar: white;
  --text-grey: grey;
  --message-in: #eee;
  --message-out: lightblue;
  /* Avatar colors */
  --avatar-1: #8609ff;
  --avatar-2: #9146ff;
  --avatar-3: #328dff;
  --avatar-4: #a372ff;
  --avatar-5: #00a449;
  --avatar-6: #ca0005;
  --avatar-7: #ff5100;
  --avatar-8: #b08c00;
  --avatar-9: #00893c;
  --avatar-0: #06f;
  /* Theme color */
  --theme: var(--primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar: START */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 0.25rem;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: var(--border);
}
/* Custom Scrollbar: END */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
