:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Main colors */
  --primary: 34, 112, 147; /*        #227093 */
  --secondary: 255, 82, 82; /*       #ff5252 */
  --background: 255, 255, 255; /*    white */
  --highlight: 238, 238, 238; /*     #eee */
  --border: 211, 211, 211; /*        lightgrey */
  --text: 0, 0, 0; /*                black */
  --text-avatar: 255, 255, 255; /*   white */
  --text-grey: 128, 128, 128; /*     grey */
  --message-in: 238, 238, 238; /*    #eee */
  --message-out: 173, 216, 230; /*   lightblue */
  
  /* Avatar colors */
  --avatar-1: 134, 9, 255; /*        #8609ff */
  --avatar-2: 145, 70, 255; /*       #9146ff */
  --avatar-3: 50, 141, 255; /*       #328dff */
  --avatar-4: 163, 114, 255; /*      #a372ff */
  --avatar-5: 0, 164, 73; /*         #00a449 */
  --avatar-6: 202, 0, 5; /*          #ca0005 */
  --avatar-7: 255, 81, 0; /*         #ff5100 */
  --avatar-8: 176, 140, 0; /*        #b08c00 */
  --avatar-9: 0, 137, 60; /*         #00893c */
  --avatar-0: 0, 102, 255; /*        #06f */

  /* Theme color */
  --theme: rgb(var(--primary));

  /* Header properties */
  --header-height: 3.5rem;
  --profile-size: 2rem;
 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar: START */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 0.25rem;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: rgb(var(--border));
}
/* Custom Scrollbar: END */

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  background-color: rgb(var(--background));
}
