/* .avatar {
  border-radius: 50%;
  color: rgb(var(--text-avatar));
  min-width: 2.5rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
} */

.avatar {
  color: var(--avatar-text);
  border-radius: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;
  margin-left: -0.5rem;
  svg {
    fill: currentcolor;
    /* fill: var(--avatar-3); */
    border-radius: inherit;
  }
}

.avatar-1 {
  background-color: rgb(var(--avatar-1));
}
.avatar-2 {
  background-color: rgb(var(--avatar-2));
}
.avatar-3 {
  background-color: rgb(var(--avatar-3));
}
.avatar-4 {
  background-color: rgb(var(--avatar-4));
}
.avatar-5 {
  background-color: rgb(var(--avatar-5));
}
.avatar-6 {
  background-color: rgb(var(--avatar-6));
}
.avatar-7 {
  background-color: rgb(var(--avatar-7));
}
.avatar-8 {
  background-color: rgb(var(--avatar-8));
}
.avatar-9 {
  background-color: rgb(var(--avatar-9));
}
.avatar-0 {
  background-color: rgb(var(--avatar-0));
}
